.ui.header
  margin-bottom: 3px
  color: rgba(0,0,0,0.8)

.ui.basic.button
  box-shadow: none!important
  padding: 5px!important

.icon
  margin-right: 0!important

.Updated
  background: #eeffc8!important

.Outdated
  background: #fae2c1!important

.Failure
  background: #fab8b8!important

.Glowing
  color: #00B5AD!important
