style(type='text/css').
  .ui.header{margin-bottom:35px;color:rgba(0,0,0,0.75);}
  .ui.menu .item>i.icon{margin-right:0;}
  .ui.basic.button{box-shadow:none!important;}
  .ui.table td.positive,.ui.table tr.positive{background:#eeffc8!important;}
  .ui.table td.warning,.ui.table tr.warning{background:#fae2c1!important;}
  .ui.table td.error,.ui.table tr.error{background:#fab8b8!important;}
