doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css')
    title DDDW 404
  body(style='background:url("/images/bg.jpg") fixed;background-size:cover;')
    div(class='ui middle aligned center aligned grid' style='height:100%;')
      div(class='column')
        h1(class='ui center aligned icon header' style='color:white;background:rgba(0,0,0,0.4);display:inline-block;padding:20px;border-radius:20px;')
          i(class='warning circle icon')
          | Endpoint Not Found
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js')
