doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css')
    title DDDW Auth
  body(style='background:url("/images/bg.jpg") fixed; background-size:cover;')
    div(class='ui middle aligned center aligned grid' style='height:100%;')
      div(class='column')
        div(style='background:rgba(0,0,0,0.3);display:inline-block;padding:20px;border-radius:20px;')
          h2(class='ui center aligned icon header')
            i(class='spy icon' style='color:white;')
          div(class='ui inverted transparent left icon input')
            input(id='code' type='text' placeholder='Code')
            i(class='privacy icon' style='color:white;')
          i(id='access' class='sign in icon' style='color:white;' data-content='Access' data-variation='small' data-position-'right center')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js')
  script(src='js/invoke-popup.js')
  script(src='js/auth.js')
