doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css')
    link(rel='stylesheet' type='text/css' href='/bundles/Bundle.css')
    title DDDW Live Visualizer
  body
    div(id='Mount')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/us-map/1.0.1/jquery.usmap.min.js')
  script(src='/bundles/Bundle.js')
