doctype html
html(lang='en')
  head
    include /pug/csslibs.pug
    include /pug/customcss.pug
    title DDDW System Journal
  body
    include nav.pug
    div(class='ui container')
      div(class='ui basic center aligned segment')
        h2(class='ui header') Journal
        table(id='journal' class='ui very basic center aligned sortable table')
          thead
            tr
              th Jid
              th Moment (UTC)
              th Source
              th Message
          tbody
            each log in journal
              tr
                td=log.jid
                td=log.moment
                td=log.source
                td=log.message

    include /pug/jslibs.pug
    include /pug/tablesort.pug
    script(src='/js/invoke-popup.js')
