doctype html
html(lang='en')
  head
    include /pug/csslibs.pug
    include /pug/customcss.pug
    title DDDW System Map
  body
    include nav.pug
    div(class='ui container')
      div(class='ui basic center aligned segment')
        h2(class='ui header') U.S. Map
        div(id='us-map')
        div(id='legend')
          span(class='ui circular label' style='background-color:#74c365;color:white;') Updated
          span(class='ui circular label' style='background-color:#ffee00;color:white;') Outdated
          span(class='ui circular label' style='background-color:#ed4848;color:white;') Failure
    include /pug/jslibs.pug
    script(src='/js/system/raphael.min.js')
    script(src='/js/system/usmap/jquery.usmap.js')
    script(src='/js/system/map.js')
    script(src='/js/invoke-popup.js')
    script renderMap(!{stateStatuses})
