div(class='ui top attached compact secondary pointing menu' style='background:transparent;border-bottom:none;margin-top:0px;')
  div(class='ui container')
    a(class='header item' href='http://digitaldemocracy.org') Digital Democracy
    a(class='item' href='/system' data-content='Map' data-variation='small' data-position='bottom center')
      i(class='map outline icon')
    a(class='item' href='/system/schedules' data-content='Schedules' data-variation='small' data-position='bottom center')
      i(class='calendar outline icon')
    a(class='item' href='/system/scripts' data-content='Scripts' data-variation='small' data-position='bottom center')
      i(class='code icon')
    a(class='item' href='/system/journal' data-content='Journal' data-variation='small' data-position='bottom center')
      i(class='book icon')
